/* style.css */
body {
    font-family: Arial, sans-serif;
    background-color:#6E6E6E!important;
  
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background-color: #383838;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    font-size: 20px;
    width: 500px;
    height: 500px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size:60px;
    font-weight: 500;
    color: #fff;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #fff;
  }
  
  input[type="text"],
  input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #BAFF39;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #ffffff;
  }
.container a{
    display: flex;
    margin-top: 20px;
    justify-content: center;
}  